#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_USER_FLAGS += --with-pgsql
DEB_CONFIGURE_USER_FLAGS += --with-iconv
DEB_CONFIGURE_USER_FLAGS += --localstatedir ${prefix}/var/lib/sphinx-search
DEB_CONFIGURE_USER_FLAGS += --sysconfdir ${prefix}/etc/sphinx-search

binary-install/sphinx-search::
	sed -i -e 's/\/var\/lib\/sphinx-search\/log/\/var\/log\/sphinx-search/g' $(CURDIR)/debian/sphinx-search/etc/sphinx-search/*
	rmdir $(CURDIR)/debian/sphinx-search/var/lib/sphinx-search/log
	dh_installexamples $(CURDIR)/debian/sphinx-search/etc/sphinx-search/*
	rm $(CURDIR)/debian/sphinx-search/etc/sphinx-search/*
	dh_installdocs $(CURDIR)/doc/sphinx.txt $(CURDIR)/doc/sphinx.html $(CURDIR)/doc/sphinx.css
	install -d -m 750 $(CURDIR)/debian/sphinx-search/var/log/sphinx-search
	install -d -m 750 $(CURDIR)/debian/sphinx-search/var/lib/sphinx-search
	dh_installman $(CURDIR)/debian/indexer.1  $(CURDIR)/debian/search.1  $(CURDIR)/debian/searchd.1  $(CURDIR)/debian/spelldump.1
	dh_installdirs /var/run/sphinx-search /etc/sphinx-search

